.mx-3 {
  max-width: 1280px;
  margin: 110px 0px 50px 0px;
  padding: 2rem;
  text-align: left;
}

ul{
  padding: 0px
}

body {
  margin: 0;
  background-color: lightgreen;
}

section div p{
  width: 70px
}

.nav-link-active {
  color: black;
  background-color: lightgreen;
  border-radius: 5px;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 5px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkgreen;
}

h1 {
  color: white;
}

footer {
  background-color: darkgreen;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer a{
  color: white;
}

@media screen and (min-width: 700px) {
  header {
    flex-direction: row;
  }

  .mx-3 {
    margin: 50px 0px 50px 0px;
  }

  body {
    display: flex;
    justify-content: center;
  }
}